<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new course here</title>
    <link rel="stylesheet" href="/addCourses.css">

</head>
<body>
    <form action="/teacher/courses/add" method="post">
        <input type="text" name="course" placeholder="course"required>
        <input type="text" name="duration" placeholder="duration"required>
        <input type="text" name="price" placeholder="price"required>
        <button type="submit">Add Course</button>
    </form>
</body>
</html>