<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit courses</title>
    <link rel="stylesheet" href="/editCourses.css">

</head>
<body>
    <div class="container">
        <header>
            <h1>Course Management System</h1>
            <a href="/home" class="back-to-home">Back to Home</a></header>
</div>

    <div class="form">
    <form action="/teacher/courses/edit/<%=courses.id%> "method="post"> 
        <input type="text" name="courses" value="<%=courses.course %>" placeholder="Courses">
        <input type="text" name="duration" value="<%=courses.duration %>" placeholder="Course duration">
        <input type="text" name="price" value="<%=courses.price %>" placeholder="fees">
        <button type="submit">Edit</button>
    </form>
    </div>
        <!-- footer -->
        <div id="footer-container">
        <footer>
        <span>@2025</span>
        <span style="color:orange;">| Course Management System |</span>
        <span>All Rights Reserved</span>
  </footer>
</div>

</body>
</html>