<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanks for Enrolling</title>
    <link rel="stylesheet" href="/enroll.css">

  </head>
  <body>
    <h1>Thanks For Enrolling</h1>
    <form action="/student/course/<%=students.username%>">
      <button type="submit">Continue</button>
    </form>
  </body>
</html>